<h1>Accounts list</h1>
<div class="buttons-line">
  <%= button_to "New Account", new_account_path, method: :get %>
  <%= button_to "Manage Products", products_path, method: :get %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td>
          <%= account.name %>
        </td>
        <td>
          <%= button_to "View Details", account, method: :get %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
